@font-face {
  font-family: '2022-epic';
	
  src:  url('../fonts/2022-epic-v1.1/2022-epic.eot?vy5nzm');
  src:  url('../fonts/2022-epic-v1.1/2022-epic.eot?vy5nzm#iefix') format('embedded-opentype'),
    url('../fonts/2022-epic-v1.1/2022-epic.ttf?vy5nzm') format('truetype'),
    url('../fonts/2022-epic-v1.1/2022-epic.woff?vy5nzm') format('woff'),
    url('../fonts/2022-epic-v1.1/2022-epic.svg?vy5nzm#2022-epic') format('svg');
  font-weight: normal;
  font-style: normal;
  font-display: block;
}

[class^="icon-"], [class*=" icon-"] {
  /* use !important to prevent issues with browser extensions that change fonts */
  font-family: '2022-Epic' !important;
  speak: never;
  font-style: normal;
  font-weight: normal;
  font-variant: normal;
  text-transform: none;
  line-height: 1;
	color: inherit;
  /* Better Font Rendering =========== */
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
}

.icon-Add:before {
  content: "\e900";
}
.icon-alarm-edit-in-lc-Fill:before {
  content: "\e901";
}
.icon-alarm-edit-in-lc:before {
  content: "\e902";
}
.icon-alarm-Fill:before {
  content: "\e903";
}
.icon-alarm-off-Fill:before {
  content: "\e904";
}
.icon-alarm-off:before {
  content: "\e905";
}
.icon-alarm:before {
  content: "\e906";
}
.icon-Arrow-Long-Down:before {
  content: "\e907";
}
.icon-Arrow-Long-Left:before {
  content: "\e908";
}
.icon-Arrow-Long-Right:before {
  content: "\e909";
}
.icon-Arrow-Long-Up:before {
  content: "\e90a";
}
.icon-Artboard-1:before {
  content: "\e90b";
}
.icon-at-Fill:before {
  content: "\e90c";
}
.icon-at:before {
  content: "\e90d";
}
.icon-Bell-Off-Fill:before {
  content: "\e90e";
}
.icon-Bell-Off:before {
  content: "\e90f";
}
.icon-Bell-Fill:before {
  content: "\e910";
}
.icon-Bell:before {
  content: "\e911";
}
.icon-Bookmark-Add-Fill:before {
  content: "\e912";
}
.icon-Bookmark-Add:before {
  content: "\e913";
}
.icon-Bookmark-Check-Fill:before {
  content: "\e914";
}
.icon-Bookmark-Check:before {
  content: "\e915";
}
.icon-Bookmark-Off-Fill:before {
  content: "\e916";
}
.icon-Bookmark-Off:before {
  content: "\e917";
}
.icon-Bookmark-Remove-Fill:before {
  content: "\e918";
}
.icon-Bookmark-Remove:before {
  content: "\e919";
}
.icon-Bookmark-Subtract-Fill:before {
  content: "\e91a";
}
.icon-Bookmark-Subtract:before {
  content: "\e91b";
}
.icon-Bookmark-Fill:before {
  content: "\e91c";
}
.icon-Bookmark:before {
  content: "\e91d";
}
.icon-Building-Fill:before {
  content: "\e91e";
}
.icon-Building:before {
  content: "\e91f";
}
.icon-calendar-01-Fill:before {
  content: "\e920";
}
.icon-calendar-01:before {
  content: "\e921";
}
.icon-calendar-02-Fill:before {
  content: "\e922";
}
.icon-calendar-02:before {
  content: "\e923";
}
.icon-calendar-03-Fill:before {
  content: "\e924";
}
.icon-calendar-03:before {
  content: "\e925";
}
.icon-calendar-04-Fill:before {
  content: "\e926";
}
.icon-calendar-04:before {
  content: "\e927";
}
.icon-calendar-add-in-lc-Fill:before {
  content: "\e928";
}
.icon-calendar-add-in-lc:before {
  content: "\e929";
}
.icon-calendar-add-ou-lc-Fill:before {
  content: "\e92a";
}
.icon-calendar-add-ou-lc:before {
  content: "\e92b";
}
.icon-calendar-check-in-lc-Fill:before {
  content: "\e92c";
}
.icon-calendar-check-in-lc:before {
  content: "\e92d";
}
.icon-calendar-check-ou-lc-Fill:before {
  content: "\e92e";
}
.icon-calendar-check-ou-lc:before {
  content: "\e92f";
}
.icon-calendar-download-in-lc-Fill:before {
  content: "\e930";
}
.icon-calendar-download-in-lc:before {
  content: "\e931";
}
.icon-calendar-download-ou-lc-Fill:before {
  content: "\e932";
}
.icon-calendar-download-ou-lc:before {
  content: "\e933";
}
.icon-calendar-edit-in-lc-Fill:before {
  content: "\e934";
}
.icon-calendar-edit-in-lc:before {
  content: "\e935";
}
.icon-calendar-edit-ou-lc-Fill:before {
  content: "\e936";
}
.icon-calendar-edit-ou-lc:before {
  content: "\e937";
}
.icon-calendar-Fill:before {
  content: "\e938";
}
.icon-calendar-schedule-ou-lc-Fill:before {
  content: "\e939";
}
.icon-calendar-schedule-ou-lc:before {
  content: "\e93a";
}
.icon-calendar-search-in-lc-Fill:before {
  content: "\e93b";
}
.icon-calendar-search-in-lc:before {
  content: "\e93c";
}
.icon-calendar-search-ou-lc-Fill:before {
  content: "\e93d";
}
.icon-calendar-search-ou-lc:before {
  content: "\e93e";
}
.icon-calendar-subtract-in-lc-Fill:before {
  content: "\e93f";
}
.icon-calendar-subtract-in-lc:before {
  content: "\e940";
}
.icon-calendar-subtract-ou-lc-Fill:before {
  content: "\e941";
}
.icon-calendar-subtract-ou-lc:before {
  content: "\e942";
}
.icon-calendar:before {
  content: "\e943";
}
.icon-camera-Fill:before {
  content: "\e944";
}
.icon-camera:before {
  content: "\e945";
}
.icon-chat-dots-Fill:before {
  content: "\e946";
}
.icon-chat-dots:before {
  content: "\e947";
}
.icon-chat-Fill:before {
  content: "\e948";
}
.icon-chat-text-Fill:before {
  content: "\e949";
}
.icon-chat-text:before {
  content: "\e94a";
}
.icon-chat:before {
  content: "\e94b";
}
.icon-Check-cr-fr-Fill:before {
  content: "\e94c";
}
.icon-Check-cr-fr:before {
  content: "\e94d";
}
.icon-Check-sq-fr-Fill:before {
  content: "\e94e";
}
.icon-Check-sq-fr:before {
  content: "\e94f";
}
.icon-Chevron-Down-cr-fr-Fill:before {
  content: "\e950";
}
.icon-Chevron-Down-cr-fr:before {
  content: "\e951";
}
.icon-Chevron-Down-sq-fr-Fill:before {
  content: "\e952";
}
.icon-Chevron-Down-sq-fr:before {
  content: "\e953";
}
.icon-Chevron-Left-cr-fr-Fill:before {
  content: "\e954";
}
.icon-Chevron-Left-cr-fr:before {
  content: "\e955";
}
.icon-Chevron-Left-sq-fr-Fill:before {
  content: "\e956";
}
.icon-Chevron-Left-sq-fr:before {
  content: "\e957";
}
.icon-Chevron-Right-cr-fr-Fill:before {
  content: "\e958";
}
.icon-Chevron-Right-cr-fr:before {
  content: "\e959";
}
.icon-Chevron-Right-sq-fr-Fill:before {
  content: "\e95a";
}
.icon-Chevron-Right-sq-fr:before {
  content: "\e95b";
}
.icon-Chevron-Up-cr-fr-Fill:before {
  content: "\e95c";
}
.icon-Chevron-Up-cr-fr:before {
  content: "\e95d";
}
.icon-Chevron-Up-sq-fr-Fill:before {
  content: "\e95e";
}
.icon-Chevron-Up-sq-fr:before {
  content: "\e95f";
}
.icon-clock-Fill:before {
  content: "\e960";
}
.icon-clock:before {
  content: "\e961";
}
.icon-Close:before {
  content: "\e962";
}
.icon-computer-mouse-Fill:before {
  content: "\e963";
}
.icon-computer-mouse:before {
  content: "\e964";
}
.icon-cr-fr-on:before {
  content: "\e965";
}
.icon-cr-fr:before {
  content: "\e966";
}
.icon-Down:before {
  content: "\e967";
}
.icon-Edit-Fill:before {
  content: "\e968";
}
.icon-Edit:before {
  content: "\e969";
}
.icon-End-01:before {
  content: "\e96a";
}
.icon-End-02:before {
  content: "\e96b";
}
.icon-Exclamation-Mark-cr-fr-Fill:before {
  content: "\e96c";
}
.icon-Exclamation-Mark-cr-fr:before {
  content: "\e96d";
}
.icon-Exclamation-Mark-sq-fr-Fill:before {
  content: "\e96e";
}
.icon-Exclamation-Mark-sq-fr:before {
  content: "\e96f";
}
.icon-Export-Fill:before {
  content: "\e970";
}
.icon-Export:before {
  content: "\e971";
}
.icon-Eye-Off-Fill:before {
  content: "\e972";
}
.icon-Eye-Off:before {
  content: "\e973";
}
.icon-Eye-Fill:before {
  content: "\e974";
}
.icon-Eye:before {
  content: "\e975";
}
.icon-Facebook-Fill:before {
  content: "\e976";
}
.icon-Facebook:before {
  content: "\e977";
}
.icon-File-Add-in-lc-Fill:before {
  content: "\e978";
}
.icon-File-Add-in-lc:before {
  content: "\e979";
}
.icon-File-Add-ou-lc-Fill:before {
  content: "\e97a";
}
.icon-File-Add-ou-lc:before {
  content: "\e97b";
}
.icon-File-Check-in-lc-Fill:before {
  content: "\e97c";
}
.icon-File-Check-in-lc:before {
  content: "\e97d";
}
.icon-File-Check-ou-lc-Fill:before {
  content: "\e97e";
}
.icon-File-Check-ou-lc:before {
  content: "\e97f";
}
.icon-File-Download-in-lc-Fill:before {
  content: "\e980";
}
.icon-File-Download-in-lc:before {
  content: "\e981";
}
.icon-File-Download-ou-lc-Fill:before {
  content: "\e982";
}
.icon-File-Download-ou-lc:before {
  content: "\e983";
}
.icon-File-Edit-in-lc-Fill:before {
  content: "\e984";
}
.icon-File-Edit-in-lc:before {
  content: "\e985";
}
.icon-File-Edit-ou-lc-Fill:before {
  content: "\e986";
}
.icon-File-Edit-ou-lc:before {
  content: "\e987";
}
.icon-File-Export-in-lc-Fill:before {
  content: "\e988";
}
.icon-File-Export-in-lc:before {
  content: "\e989";
}
.icon-File-Export-ou-lc-Fill:before {
  content: "\e98a";
}
.icon-File-Export-ou-lc:before {
  content: "\e98b";
}
.icon-File-Favorite-in-lc-Fill:before {
  content: "\e98c";
}
.icon-File-Favorite-in-lc:before {
  content: "\e98d";
}
.icon-File-Favourite-ou-lc-Fill:before {
  content: "\e98e";
}
.icon-File-Favourite-ou-lc:before {
  content: "\e98f";
}
.icon-File-Import-in-lc-Fill:before {
  content: "\e990";
}
.icon-File-Import-in-lc:before {
  content: "\e991";
}
.icon-File-Import-ou-lc-Fill:before {
  content: "\e992";
}
.icon-File-Import-ou-lc:before {
  content: "\e993";
}
.icon-File-Locked-in-lc-Fill:before {
  content: "\e994";
}
.icon-File-Locked-in-lc:before {
  content: "\e995";
}
.icon-File-Locked-ou-lc-Fill:before {
  content: "\e996";
}
.icon-File-Locked-ou-lc:before {
  content: "\e997";
}
.icon-File-Off-Fill:before {
  content: "\e998";
}
.icon-File-Off:before {
  content: "\e999";
}
.icon-File-Remove-in-lc-Fill:before {
  content: "\e99a";
}
.icon-File-Remove-in-lc:before {
  content: "\e99b";
}
.icon-File-Remove-ou-lc-Fill:before {
  content: "\e99c";
}
.icon-File-Remove-ou-lc:before {
  content: "\e99d";
}
.icon-File-Search-in-lc-Fill:before {
  content: "\e99e";
}
.icon-File-Search-in-lc:before {
  content: "\e99f";
}
.icon-File-Search-ou-lc-Fill:before {
  content: "\e9a0";
}
.icon-File-Search-ou-lc:before {
  content: "\e9a1";
}
.icon-File-Subtract-in-lc-Fill:before {
  content: "\e9a2";
}
.icon-File-Subtract-in-lc:before {
  content: "\e9a3";
}
.icon-File-Subtract-ou-lc-Fill:before {
  content: "\e9a4";
}
.icon-File-Subtract-ou-lc:before {
  content: "\e9a5";
}
.icon-File-Upload-in-lc-Fill:before {
  content: "\e9a6";
}
.icon-File-Upload-in-lc:before {
  content: "\e9a7";
}
.icon-File-Upload-ou-lc-Fill:before {
  content: "\e9a8";
}
.icon-File-Upload-ou-lc:before {
  content: "\e9a9";
}
.icon-File-View-in-lc-Fill:before {
  content: "\e9aa";
}
.icon-File-View-in-lc:before {
  content: "\e9ab";
}
.icon-File-View-ou-lc-Fill:before {
  content: "\e9ac";
}
.icon-File-View-ou-lc:before {
  content: "\e9ad";
}
.icon-File-Fill:before {
  content: "\e9ae";
}
.icon-File:before {
  content: "\e9af";
}
.icon-flash-drive-Fill:before {
  content: "\e9b0";
}
.icon-flash-drive:before {
  content: "\e9b1";
}
.icon-Folder-Add-in-lc-Fill:before {
  content: "\e9b2";
}
.icon-Folder-Add-in-lc:before {
  content: "\e9b3";
}
.icon-Folder-Add-ou-lc-Fill:before {
  content: "\e9b4";
}
.icon-Folder-Add-ou-lc:before {
  content: "\e9b5";
}
.icon-Folder-Check-in-lc-Fill:before {
  content: "\e9b6";
}
.icon-Folder-Check-in-lc:before {
  content: "\e9b7";
}
.icon-Folder-Check-ou-lc-Fill:before {
  content: "\e9b8";
}
.icon-Folder-Check-ou-lc:before {
  content: "\e9b9";
}
.icon-Folder-Download-in-lc-Fill:before {
  content: "\e9ba";
}
.icon-Folder-Download-in-lc:before {
  content: "\e9bb";
}
.icon-Folder-Download-ou-lc-Fill:before {
  content: "\e9bc";
}
.icon-Folder-Download-ou-lc:before {
  content: "\e9bd";
}
.icon-Folder-Edit-in-lc-Fill:before {
  content: "\e9be";
}
.icon-Folder-Edit-in-lc:before {
  content: "\e9bf";
}
.icon-Folder-Edit-ou-lc-Fill:before {
  content: "\e9c0";
}
.icon-Folder-Edit-ou-lc:before {
  content: "\e9c1";
}
.icon-Folder-Export-in-lc-Fill:before {
  content: "\e9c2";
}
.icon-Folder-Export-in-lc:before {
  content: "\e9c3";
}
.icon-Folder-Export-ou-lc-Fill:before {
  content: "\e9c4";
}
.icon-Folder-Export-ou-lc:before {
  content: "\e9c5";
}
.icon-Folder-Favourite-in-lc-Fill:before {
  content: "\e9c6";
}
.icon-Folder-Favourite-in-lc:before {
  content: "\e9c7";
}
.icon-Folder-Favourite-ou-lc-Fill:before {
  content: "\e9c8";
}
.icon-Folder-Favourite-ou-lc:before {
  content: "\e9c9";
}
.icon-Folder-Import-in-lc-Fill:before {
  content: "\e9ca";
}
.icon-Folder-Import-in-lc:before {
  content: "\e9cb";
}
.icon-Folder-Import-ou-lc-Fill:before {
  content: "\e9cc";
}
.icon-Folder-Import-ou-lc:before {
  content: "\e9cd";
}
.icon-Folder-Locked-in-lc-Fill:before {
  content: "\e9ce";
}
.icon-Folder-Locked-in-lc:before {
  content: "\e9cf";
}
.icon-Folder-Locked-ou-lc-Fill:before {
  content: "\e9d0";
}
.icon-Folder-Locked-ou-lc:before {
  content: "\e9d1";
}
.icon-Folder-Off-Fill:before {
  content: "\e9d2";
}
.icon-Folder-Off:before {
  content: "\e9d3";
}
.icon-Folder-Remove-in-lc-Fill:before {
  content: "\e9d4";
}
.icon-Folder-Remove-in-lc:before {
  content: "\e9d5";
}
.icon-Folder-Remove-ou-lc-Fill:before {
  content: "\e9d6";
}
.icon-Folder-Remove-ou-lc:before {
  content: "\e9d7";
}
.icon-Folder-Search-in-lc-Fill:before {
  content: "\e9d8";
}
.icon-Folder-Search-in-lc:before {
  content: "\e9d9";
}
.icon-Folder-Search-ou-lc-Fill:before {
  content: "\e9da";
}
.icon-Folder-Search-ou-lc:before {
  content: "\e9db";
}
.icon-Folder-Subtract-in-lc-Fill:before {
  content: "\e9dc";
}
.icon-Folder-Subtract-in-lc:before {
  content: "\e9dd";
}
.icon-Folder-Subtract-ou-lc-Fill:before {
  content: "\e9de";
}
.icon-Folder-Subtract-ou-lc:before {
  content: "\e9df";
}
.icon-Folder-Upload-in-lc-Fill:before {
  content: "\e9e0";
}
.icon-Folder-Upload-in-lc:before {
  content: "\e9e1";
}
.icon-Folder-Upload-ou-lc-Fill:before {
  content: "\e9e2";
}
.icon-Folder-Upload-ou-lc:before {
  content: "\e9e3";
}
.icon-Folder-View-in-lc-Fill:before {
  content: "\e9e4";
}
.icon-Folder-View-in-lc:before {
  content: "\e9e5";
}
.icon-Folder-View-ou-lc-Fill:before {
  content: "\e9e6";
}
.icon-Folder-View-ou-lc:before {
  content: "\e9e7";
}
.icon-Folder-Fill:before {
  content: "\e9e8";
}
.icon-Folder:before {
  content: "\e9e9";
}
.icon-Grid-Four-01-Fill:before {
  content: "\e9ea";
}
.icon-Grid-Four-01:before {
  content: "\e9eb";
}
.icon-Grid-Four-02-Fill:before {
  content: "\e9ec";
}
.icon-Grid-Four-02:before {
  content: "\e9ed";
}
.icon-Grid-Three-Fill:before {
  content: "\e9ee";
}
.icon-Grid-Three:before {
  content: "\e9ef";
}
.icon-Grid-Two-hr-al-Fill:before {
  content: "\e9f0";
}
.icon-Grid-Two-hr-al:before {
  content: "\e9f1";
}
.icon-Grid-Two-vr-al-Fill:before {
  content: "\e9f2";
}
.icon-Grid-Two-vr-al:before {
  content: "\e9f3";
}
.icon-Heart-Off-Fill:before {
  content: "\e9f4";
}
.icon-Heart-Off:before {
  content: "\e9f5";
}
.icon-Heart-Fill:before {
  content: "\e9f6";
}
.icon-Heart:before {
  content: "\e9f7";
}
.icon-Home-Fill:before {
  content: "\e9f8";
}
.icon-Home:before {
  content: "\e9f9";
}
.icon-HWP-Fill:before {
  content: "\e9fa";
}
.icon-HWP:before {
  content: "\e9fb";
}
.icon-image-add-ou-lc-Fill:before {
  content: "\e9fc";
}
.icon-image-add-ou-lc:before {
  content: "\e9fd";
}
.icon-image-check-ou-lc-Fill:before {
  content: "\e9fe";
}
.icon-image-check-ou-lc:before {
  content: "\e9ff";
}
.icon-image-download-ou-lc-Fill:before {
  content: "\ea00";
}
.icon-image-download-ou-lc:before {
  content: "\ea01";
}
.icon-image-edit-ou-lc-Fill:before {
  content: "\ea02";
}
.icon-image-edit-ou-lc:before {
  content: "\ea03";
}
.icon-image-export-ou-lc-Fill:before {
  content: "\ea04";
}
.icon-image-export-ou-lc:before {
  content: "\ea05";
}
.icon-image-Fill:before {
  content: "\ea06";
}
.icon-image-import-ou-lc-Fill:before {
  content: "\ea07";
}
.icon-image-import-ou-lc:before {
  content: "\ea08";
}
.icon-image-locked-ou-lc-Fill:before {
  content: "\ea09";
}
.icon-image-locked-ou-lc:before {
  content: "\ea0a";
}
.icon-image-off-Fill:before {
  content: "\ea0b";
}
.icon-image-off:before {
  content: "\ea0c";
}
.icon-image-remove-ou-lc-Fill:before {
  content: "\ea0d";
}
.icon-image-remove-ou-lc:before {
  content: "\ea0e";
}
.icon-image-search-ou-lc-Fill:before {
  content: "\ea0f";
}
.icon-image-search-ou-lc:before {
  content: "\ea10";
}
.icon-image-subtract-ou-lc-Fill:before {
  content: "\ea11";
}
.icon-image-subtract-ou-lc:before {
  content: "\ea12";
}
.icon-image-upload-ou-lc-Fill:before {
  content: "\ea13";
}
.icon-image-upload-ou-lc:before {
  content: "\ea14";
}
.icon-image-view-ou-lc-Fill:before {
  content: "\ea15";
}
.icon-image-view-ou-lc:before {
  content: "\ea16";
}
.icon-image:before {
  content: "\ea17";
}
.icon-Import-Fill:before {
  content: "\ea18";
}
.icon-Import:before {
  content: "\ea19";
}
.icon-Info-cr-fr-Fill:before {
  content: "\ea1a";
}
.icon-Info-cr-fr:before {
  content: "\ea1b";
}
.icon-Info-sq-fr-Fill:before {
  content: "\ea1c";
}
.icon-Info-sq-fr:before {
  content: "\ea1d";
}
.icon-Instagram-Fill:before {
  content: "\ea1e";
}
.icon-Instagram:before {
  content: "\ea1f";
}
.icon-Kakao-Ch:before {
  content: "\ea20";
}
.icon-Kakao:before {
  content: "\ea21";
}
.icon-Language:before {
  content: "\ea22";
}
.icon-laptop-Fill:before {
  content: "\ea23";
}
.icon-laptop:before {
  content: "\ea24";
}
.icon-Left:before {
  content: "\ea25";
}
.icon-light-bulb-Fill:before {
  content: "\ea26";
}
.icon-light-bulb:before {
  content: "\ea27";
}
.icon-Lock-Open-Fill:before {
  content: "\ea28";
}
.icon-Lock-Open:before {
  content: "\ea29";
}
.icon-Lock-Unlocked-Fill:before {
  content: "\ea2a";
}
.icon-Lock-Unlocked:before {
  content: "\ea2b";
}
.icon-Lock-Fill:before {
  content: "\ea2c";
}
.icon-Lock:before {
  content: "\ea2d";
}
.icon-Login-Fill:before {
  content: "\ea2e";
}
.icon-Login:before {
  content: "\ea2f";
}
.icon-Logout-Fill:before {
  content: "\ea30";
}
.icon-Logout:before {
  content: "\ea31";
}
.icon-Long-Down:before {
  content: "\ea32";
}
.icon-Long-Left:before {
  content: "\ea33";
}
.icon-Long-Right:before {
  content: "\ea34";
}
.icon-Long-Up:before {
  content: "\ea35";
}
.icon-mail-add-ou-lc-Fill:before {
  content: "\ea36";
}
.icon-mail-add-ou-lc:before {
  content: "\ea37";
}
.icon-mail-check-ou-lc-Fill:before {
  content: "\ea38";
}
.icon-mail-check-ou-lc:before {
  content: "\ea39";
}
.icon-mail-download-ou-lc-Fill:before {
  content: "\ea3a";
}
.icon-mail-download-ou-lc:before {
  content: "\ea3b";
}
.icon-mail-edit-ou-lc-Fill:before {
  content: "\ea3c";
}
.icon-mail-edit-ou-lc:before {
  content: "\ea3d";
}
.icon-mail-export-ou-lc-Fill:before {
  content: "\ea3e";
}
.icon-mail-export-ou-lc:before {
  content: "\ea3f";
}
.icon-mail-favourite-ou-lc-Fill:before {
  content: "\ea40";
}
.icon-mail-favourite-ou-lc:before {
  content: "\ea41";
}
.icon-mail-Fill:before {
  content: "\ea42";
}
.icon-mail-import-ou-lc-Fill:before {
  content: "\ea43";
}
.icon-mail-import-ou-lc:before {
  content: "\ea44";
}
.icon-mail-locked-ou-lc-Fill:before {
  content: "\ea45";
}
.icon-mail-locked-ou-lc:before {
  content: "\ea46";
}
.icon-mail-remove-ou-lc-Fill:before {
  content: "\ea47";
}
.icon-mail-remove-ou-lc:before {
  content: "\ea48";
}
.icon-mail-search-ou-lc-Fill:before {
  content: "\ea49";
}
.icon-mail-search-ou-lc:before {
  content: "\ea4a";
}
.icon-mail-subtract-ou-lc-Fill:before {
  content: "\ea4b";
}
.icon-mail-subtract-ou-lc:before {
  content: "\ea4c";
}
.icon-mail-upload-ou-lc-Fill:before {
  content: "\ea4d";
}
.icon-mail-upload-ou-lc:before {
  content: "\ea4e";
}
.icon-mail-view-ou-lc-Fill:before {
  content: "\ea4f";
}
.icon-mail-view-ou-lc:before {
  content: "\ea50";
}
.icon-mail:before {
  content: "\ea51";
}
.icon-Menu:before {
  content: "\ea52";
}
.icon-Minus-cr-fr-Fill:before {
  content: "\ea53";
}
.icon-Minus-cr-fr:before {
  content: "\ea54";
}
.icon-Minus-sq-fr-Fill:before {
  content: "\ea55";
}
.icon-Minus-sq-fr:before {
  content: "\ea56";
}
.icon-mobile-01-Fill:before {
  content: "\ea57";
}
.icon-mobile-01:before {
  content: "\ea58";
}
.icon-mobile-02-Fill:before {
  content: "\ea59";
}
.icon-mobile-02:before {
  content: "\ea5a";
}
.icon-modem-Fill:before {
  content: "\ea5b";
}
.icon-modem:before {
  content: "\ea5c";
}
.icon-monitor-Fill:before {
  content: "\ea5d";
}
.icon-monitor:before {
  content: "\ea5e";
}
.icon-More-cr-fr-Fill:before {
  content: "\ea5f";
}
.icon-More-cr-fr:before {
  content: "\ea60";
}
.icon-More-sq-fr-Fill:before {
  content: "\ea61";
}
.icon-More-sq-fr:before {
  content: "\ea62";
}
.icon-Mouse:before {
  content: "\ea63";
}
.icon-Naver-Blog:before {
  content: "\ea64";
}
.icon-Naver:before {
  content: "\ea65";
}
.icon-PDF-Fill:before {
  content: "\ea66";
}
.icon-PDF:before {
  content: "\ea67";
}
.icon-pen-Fill:before {
  content: "\ea68";
}
.icon-pen:before {
  content: "\ea69";
}
.icon-pencil-Fill:before {
  content: "\ea6a";
}
.icon-pencil:before {
  content: "\ea6b";
}
.icon-phone-add-Fill:before {
  content: "\ea6c";
}
.icon-phone-add:before {
  content: "\ea6d";
}
.icon-phone-block-Fill:before {
  content: "\ea6e";
}
.icon-phone-block:before {
  content: "\ea6f";
}
.icon-phone-Fill:before {
  content: "\ea70";
}
.icon-phone-incoming-Fill:before {
  content: "\ea71";
}
.icon-phone-incoming:before {
  content: "\ea72";
}
.icon-phone-outgoing-Fill:before {
  content: "\ea73";
}
.icon-phone-outgoing:before {
  content: "\ea74";
}
.icon-phone-subtract-Fill:before {
  content: "\ea75";
}
.icon-phone-subtract:before {
  content: "\ea76";
}
.icon-phone-voice-Fill:before {
  content: "\ea77";
}
.icon-phone-voice:before {
  content: "\ea78";
}
.icon-phone:before {
  content: "\ea79";
}
.icon-Plus-cr-fr-Fill:before {
  content: "\ea7a";
}
.icon-Plus-cr-fr:before {
  content: "\ea7b";
}
.icon-Plus-sq-fr-Fill:before {
  content: "\ea7c";
}
.icon-Plus-sq-fr:before {
  content: "\ea7d";
}
.icon-PPT-Fill:before {
  content: "\ea7e";
}
.icon-PPT:before {
  content: "\ea7f";
}
.icon-printer-Fill:before {
  content: "\ea80";
}
.icon-printer:before {
  content: "\ea81";
}
.icon-Question-Mark-cr-fr-Fill:before {
  content: "\ea82";
}
.icon-Question-Mark-cr-fr:before {
  content: "\ea83";
}
.icon-Question-Mark-sq-fr-Fill:before {
  content: "\ea84";
}
.icon-Question-Mark-sq-fr:before {
  content: "\ea85";
}
.icon-Remove-cr-fr-Fill:before {
  content: "\ea86";
}
.icon-Remove-cr-fr:before {
  content: "\ea87";
}
.icon-Remove-sq-fr-Fill:before {
  content: "\ea88";
}
.icon-Remove-sq-fr:before {
  content: "\ea89";
}
.icon-Remove:before {
  content: "\ea8a";
}
.icon-Right:before {
  content: "\ea8b";
}
.icon-ruler-Fill:before {
  content: "\ea8c";
}
.icon-ruler:before {
  content: "\ea8d";
}
.icon-scale-Fill:before {
  content: "\ea8e";
}
.icon-scale:before {
  content: "\ea8f";
}
.icon-Search-Fill:before {
  content: "\ea90";
}
.icon-Search:before {
  content: "\ea91";
}
.icon-Settings-Adjust-hr-al-Fill:before {
  content: "\ea92";
}
.icon-Settings-Adjust-hr-al:before {
  content: "\ea93";
}
.icon-Settings-Adjust-vr-al-Fill:before {
  content: "\ea94";
}
.icon-Settings-Adjust-vr-al:before {
  content: "\ea95";
}
.icon-Settings-Fill:before {
  content: "\ea96";
}
.icon-Settings:before {
  content: "\ea97";
}
.icon-shopping-basket-Fill:before {
  content: "\ea98";
}
.icon-shopping-basket:before {
  content: "\ea99";
}
.icon-Short-Down:before {
  content: "\ea9a";
}
.icon-Short-Left:before {
  content: "\ea9b";
}
.icon-Short-Right:before {
  content: "\ea9c";
}
.icon-Short-Up:before {
  content: "\ea9d";
}
.icon-sq-fr-on:before {
  content: "\ea9e";
}
.icon-sq-fr:before {
  content: "\ea9f";
}
.icon-Star-Off-Fill:before {
  content: "\eaa0";
}
.icon-Star-Off:before {
  content: "\eaa1";
}
.icon-Star-Fill:before {
  content: "\eaa2";
}
.icon-Star:before {
  content: "\eaa3";
}
.icon-Start-01:before {
  content: "\eaa4";
}
.icon-Start-02:before {
  content: "\eaa5";
}
.icon-timelapse-25-Fill:before {
  content: "\eaa6";
}
.icon-timelapse-25:before {
  content: "\eaa7";
}
.icon-timelapse-50-Fill:before {
  content: "\eaa8";
}
.icon-timelapse-50:before {
  content: "\eaa9";
}
.icon-timelapse-75-Fill:before {
  content: "\eaaa";
}
.icon-timelapse-75:before {
  content: "\eaab";
}
.icon-Trash-Can-Fill:before {
  content: "\eaac";
}
.icon-Trash-Can:before {
  content: "\eaad";
}
.icon-Twitter-Fill:before {
  content: "\eaae";
}
.icon-Up:before {
  content: "\eaaf";
}
.icon-User-Add-Fill:before {
  content: "\eab0";
}
.icon-User-Add:before {
  content: "\eab1";
}
.icon-User-login-Fill:before {
  content: "\eab2";
}
.icon-User-login:before {
  content: "\eab3";
}
.icon-User-Fill:before {
  content: "\eab4";
}
.icon-User:before {
  content: "\eab5";
}
.icon-View-Board-Fill:before {
  content: "\eab6";
}
.icon-View-Board:before {
  content: "\eab7";
}
.icon-View-Column-Fill:before {
  content: "\eab8";
}
.icon-View-Column:before {
  content: "\eab9";
}
.icon-View-List-Fill:before {
  content: "\eaba";
}
.icon-View-List:before {
  content: "\eabb";
}
.icon-View-Table-Fill:before {
  content: "\eabc";
}
.icon-View-Table:before {
  content: "\eabd";
}
.icon-View-Timeline-Fill:before {
  content: "\eabe";
}
.icon-View-Timeline:before {
  content: "\eabf";
}
.icon-Warning-Fill:before {
  content: "\eac0";
}
.icon-Warning:before {
  content: "\eac1";
}
.icon-wi-fi-Fill:before {
  content: "\eac2";
}
.icon-wi-fi:before {
  content: "\eac3";
}
.icon-window-add-ou-lc-Fill:before {
  content: "\eac4";
}
.icon-window-add-ou-lc:before {
  content: "\eac5";
}
.icon-window-check-ou-lc-Fill:before {
  content: "\eac6";
}
.icon-window-check-ou-lc:before {
  content: "\eac7";
}
.icon-window-download-ou-lc-Fill:before {
  content: "\eac8";
}
.icon-window-download-ou-lc:before {
  content: "\eac9";
}
.icon-window-edit-ou-lc-Fill:before {
  content: "\eaca";
}
.icon-window-edit-ou-lc:before {
  content: "\eacb";
}
.icon-window-export-ou-lc-Fill:before {
  content: "\eacc";
}
.icon-window-export-ou-lc:before {
  content: "\eacd";
}
.icon-window-Fill:before {
  content: "\eace";
}
.icon-window-import-ou-lc-Fill:before {
  content: "\eacf";
}
.icon-window-import-ou-lc:before {
  content: "\ead0";
}
.icon-window-locked-ou-lc-Fill:before {
  content: "\ead1";
}
.icon-window-locked-ou-lc:before {
  content: "\ead2";
}
.icon-window-off-Fill:before {
  content: "\ead3";
}
.icon-window-off:before {
  content: "\ead4";
}
.icon-window-remove-ou-lc-Fill:before {
  content: "\ead5";
}
.icon-window-remove-ou-lc:before {
  content: "\ead6";
}
.icon-window-search-ou-lc-Fill:before {
  content: "\ead7";
}
.icon-window-search-ou-lc:before {
  content: "\ead8";
}
.icon-window-subtract-ou-lc-Fill:before {
  content: "\ead9";
}
.icon-window-subtract-ou-lc:before {
  content: "\eada";
}
.icon-window-upload-ou-lc-Fill:before {
  content: "\eadb";
}
.icon-window-upload-ou-lc:before {
  content: "\eadc";
}
.icon-window-view-ou-lc-Fill:before {
  content: "\eadd";
}
.icon-window-view-ou-lc:before {
  content: "\eade";
}
.icon-window:before {
  content: "\eadf";
}
.icon-XLS-Fill:before {
  content: "\eae0";
}
.icon-XLS:before {
  content: "\eae1";
}
.icon-YouTube-Fill:before {
  content: "\eae2";
}
.icon-YouTube:before {
  content: "\eae3";
}
.icon-ZIP-01-Fill:before {
  content: "\eae4";
}
.icon-ZIP-01:before {
  content: "\eae5";
}
.icon-ZIP-02-Fill:before {
  content: "\eae6";
}
.icon-ZIP-02:before {
  content: "\eae7";
}
.icon-zoom-in-Fill:before {
  content: "\eae8";
}
.icon-zoom-in:before {
  content: "\eae9";
}
.icon-zoom-out-Fill:before {
  content: "\eaea";
}
.icon-zoom-out:before {
  content: "\eaeb";
}
